@import "~bootstrap/scss/bootstrap";
.container-fluid {
  padding: 0px;
}
.navbar-light .navbar-nav .nav-link {
  color: whitesmoke;
  color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: whitesmoke;
}
#navbarDropdown {
  margin-right: 150px;
}
.main-container {
  margin-top: 30px;
}
#new_message {
  margin-top: 10px;
}
#top-navbar {
  background: #8B008B;
}
#logo {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 2px;
}
