<div class="col-sm-2">
  <% if user_signed_in? %>
    <h5><strong>Chatrooms</strong></h5>
    <ul>
      <% current_user.chatrooms.each do |chatroom| %>
        <li><%= link_to chatroom.name, chatroom, data: { behavior: "chatroom-link", chatroom_id: chatroom.id } %></li>
      <% end %>
    </ul>
  <% end %>
</div>

